body
{
	background-color: #F3F3F3;
}

#content #menu
{
	background: #AA4444;
}

#menu a
{
	color: #FFFFFF;
	text-shadow: 0px 1px #444444;
}

#container
{
	background: #DDDDDD;
}

#marker
{
	font-weight: bold;
	color: #AA4444;
}

#footer
{
	background: #F3F3F3;
}
