#up
{
	width: 100%;
	height: 80px;
}

body
{
	margin-top: 0px;
}

#header
{
	width: 100%;
	height: 80px;
	position: relative;
}

#logo
{
	position: relative;
	margin: 0px auto;
	width: 210px;
	height: 80px;
	overflow: hidden;
	float: left;
}

#account
{
  position: relative;
	width: 300px;
	height: 80px;
	float: right;
}

#account p
{
	vertical-align: center;
	float: right;
}

#fast_actions
{
	position: relative;
	height: 40px;
	width: 100%;
	overflow: hidden;
}

#content
{
	margin: 12px auto;
	position: relative;
	width: 902px;
	height: 550px;
}

#content #menu
{
	width: 64px;
	float: left;
	height: 548px;
	border: 1px double;
	position: relative;
}

#container
{
	position: relative;
	float: right;
	width: 836px;
	height: 100%;
	overflow: auto;
	color: black;
	text-align: center;
}

#menu ul
{
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 10px 0;;
	padding: 0;
}

#menu ul li
{
	display: block;
	background: url('../img/empty.png');
	text-align: center;
	width: 64px;
	height: 64px;
	margin: 4px 0;
	padding: 0;		
}

#menu a
{
	text-decoration: none;
}

#menu img
{
	width: 70px;
	height: 32px;
}
