<html>
<head>
	<style type="text/css">
	#main-menu{
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 450px;
		overflow: hidden;
		position: relative;
	}
	#main-menu li{
		float: left;
		padding: 0 20px;
		margin: 0;
		position: relative;
	}
	#main-menu a:hover{
		color: #000;
		background: #dddddd;

	}
	</style>
</head>
<body>
<ul id="main-menu">
	<li><a href="index.php">Главная</a>
	<li><a href="questions.php">Вопросы</a>
	<li><a href="stats.php">Статистика</a>
	<li><a href="login.php">Вход</a>
</ul>
</body>
</html>