	.contents{
	width: 100%;
	height: 50%;
	}
	#main-menu{
		float:center;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 60%;
		height: 10%;
		overflow: hidden;
		position: relative;
	}

	#main-menu li{
		float: left;
		padding: 0px 20px;
		margin: 0;
		position: relative;	
	}
	#main-menu a:link{
		color: #000;	
		display: block;
		text-align:center;
		height: 2em;
		width: 14em;
		text-decoration: none;
		line-height:2em;
	}
	#main-menu a:hover{
		color: #000;
		background: #e76c6c;	
	}

	.news{
		float: left;
		width: 33%;
		height: 50%;
		color: #000;
	}
	.news:hover{
	background: grey;
	}
	.login{
		
		color: #000;
		background: black;
		height: 100%;
		width: 33%;
	}
	.login label{
		color: #000;
	}
	.latest_assertions{
	float: right;
	width: 33%;
	height: 100%;
	}
	.latest_assertions:hover{
	background: grey;
	}
