	#main-menu{
		float:center;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		height: 10%;
		overflow: hidden;
		position: relative;
	}

	#main-menu li{
		float: left;
		padding: 0px 20px;
		margin: 0;
		position: relative;	
	}
	#main-menu a:link{
		color: #000;	
		display: block;
		text-align:center;
		height: 4em;
		width: 8m;
		text-decoration: none;
		line-height:4em;
	}
	#main-menu a:hover{
		color: #000;
		background: #e76c6c;	
	}

	.news{
		float: left;
		width: 33%;
		height: 50%;
		color: #000;
	}
	.news:hover{
	background: grey;
	}
	.login{
		float: left;
		color: #000;
		height: 50%;
		width: 33%;
	}
	
	.login:hover{
	background: grey;
	}
	
	.login label{
		color: #000;
	}
	.latest_assertions{
	float: right;
	width: 33%;
	height: 50%;
	}
	.latest_assertions:hover{
	background: grey;
	}

        #invitations-tbl {
            width: 100%;
            border-collapse: collapse;            
        }
   
        #invitations-tbl td {
            border-bottom: 1px solid #ddd;
            border-left: 1px dotted #aaa;
        }
        #invitations-tbl th {
            background: #ddd;
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
        }
